<h1>Editar - Agendamento de Potenciais Clientes</h1>
<p>Sistema Utilizado para agendamento de serviços.</p>
<form action="/customers/edit/{{customer.id}}" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" value="{{customer.nome}}" required>
  </div>
 <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" id="telefone" class="form-control" value="{{customer.telefone}}">
  </div>
<div class="form-group">
  <label for="origem">Origem</label>
  <select name="origem" id="origem" class="form-control">
    <option value="Celular" {{#if (eq customer.origem 'Celular')}}selected{{/if}}>Celular</option>
    <option value="Internet" {{#if (eq customer.origem 'Internet')}}selected{{/if}}>Internet</option>
  </select>
</div>
 <div class="form-group">
  <label for="dataDoContacto">Data do Contacto</label>
  <input type="date" name="dataDoContacto" id="dataDoContacto" class="form-control" value="{{formatDate customer.dataDoContacto}}">
</div>
  <div class="form-group">
    <label for="observacao">Observação</label>
    <textarea name="observacao" id="observacao" class="form-control">{{customer.observacao}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Atualizar cliente</button>
</form>
