<h1>Detalhes - Agendamento de Potenciais Clientes</h1>
<p>Sistema Utilizado para agendamento de serviços.</p>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Nome: {{customer.nome}}</h5>
    <p class="card-text">Telefone: {{customer.telefone}}</p>
    <p class="card-text">Origem: {{customer.origem}}</p>
    <p class="card-text">Data do Contacto: {{customer.dataDoContacto}}</p>
    <p class="card-text">Observação: {{customer.observacao}}</p>
    <a href="/customers" class="btn btn-primary">Voltar para a lista</a>
  </div>
</div>
